#wrapper{
    width: = 1200px ;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding : 1em;

}

body{
    background-color:black ;
}
header{
    background-color:black ;
    background-image: url("images/ws-banner.png");
    background-repeat: no-repeat;
    background-position: top right;

}
